{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.css"
        integrity="sha384-N2iN5915qtatuGTKTlZrrZAd7a+ir8E75VZ6/8SsXIMzmPmqDmu+40C3POMtF6Vn" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="{% static 'layout.js' %}"></script>

    </head>
    <body>
        <header>
            <div>
                <img src="" alt="">
            </div>
            <button class="nav-toggle">
                <span class="hamburger"></span>

             </button>
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="{% url 'index' %}" class="nav_link">Home</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">My Posts</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">About me</a></li>
                    <li class="nav_item"><a href="#work" class="nav_link">Contact</a></li>
                </ul>
            </nav>
        </header>

        {% block body %} 
        
        {% endblock %}

        <!--Footer-->
        <footer class="footer">
            <a href="mailto:nicolasmancheno21@gmail.com" class="footer-link">nicolasmancheno21@hotmail.com</a>
            <ul class="social-list">
                <li class="social-list_item">
                    <a class="social-list_link"href="#">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                <li class="social-list_item">
                    <a class="social-list_link"href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="social-list_item">
                    <a class="social-list_link"href="#">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>
            </ul>
        </footer>

    </body>
</html>